#toolspan:hover{
    background-color: rgb(199, 235, 198);
    cursor: pointer;
}

/* #toolspan{
    background-color: chartreuse;
} */

.margin-right-10px{
    margin-right: 10px;
}

.font-size-16{
    font-size: 16px;
}

.green-border{
    border: 2px solid #AFD275;
    border-radius: 12px;
}

.width-350px{
    width: 350px;
}

.round-border-button{
    border: 2px solid burlywood;
    border-radius: 12px;
}

.width-50px{
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.round-border-tooldiv{
    border: 2px solid  #66b3ff;
    border-radius: 14px;
    padding: 15px;
    margin-bottom: 10px;
}

.map-container{
    height: 420px;
    width: 200px;
}

.margin-left-10px{
    margin-left: 10px;
}

.margin-left-40px{
    margin-left: 40px;
}

.margin-left-top-30px{
    margin-left: 30px;
    margin-top: 20px;
}

*{box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}