.nav-bar{
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar-item{
    padding: 5px;    
}

.nav-bar-button{
   
    cursor: pointer;
    font-size: 18px;
    border: 2px ;
    color :white;
    
   
}
