.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.inside-wrapper{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.width-200px{
    width: 200px;
}

.align-centre1{
    justify-content: center;
}

.font-size-20{
    font-size: 20px;
}
.margin-top-2-p{
    margin-top: 2%;
}

.margin-top-20-p{
    margin-top: 20px;
}

.textarea-border{
    border: 3px inset black;
    font-size: 16px;
}

.label-font-size{
    font-size: 20px;
}

.align-centre{
    font-size: 48px;
    background-color: blueviolet;
    width: 100%;
    height: 100px;
    align-items: center;
}

.plusbutton{
    font-size: 20px;
}

#project-item-input{
    font-size: 1.5rem;    
}

#project-step-input{
    font-size: 1.5rem;    
}

#project-tool-input{
    font-size: 1.5rem;    
}

#project-title-input{
    font-size: 1.5rem;    
}

#formelements{
    width: 25%;
}

#add-button{
    width: 30%;
    background-color: darkgoldenrod;
}

#submit-button{
    margin-top: 20px ;
}

.theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    transition: background-color .2s ease-out;
    font-size: 16px;
}

.theList li:hover{
    background-color: pink;
    cursor: pointer;
}

ul.theList{
    padding: 0;
}

.table-cell{
    padding: 20px;
}

.left-margin{
    margin-left: 20px;
}

.blue-bgcolor{
    background-color:none;
}

.table-cell1{
    width: 18%;
}

.table-cell2{
    width: 40%;
}

.table-cell3{
    width: 15%;
}

.select-width{
    width: 100px;
}

.red-text{
    color: re;
}
.green-text{
    color:green;
    border:none;
    background-color: white;
    
}
.align-left{
    text-align: left;
    font-size: 2.5rem;  
}
.submit-style{
   
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 12px;

}
.description-box{
    width: 300px;
    height: 150px;
}
