.story-wrapper{
    display: flex;
    flex-direction: column;
}

.story-inside-wrapper{
    display: flex;
    flex-direction: row;
}

.margin-20px{
    margin: 8px;
}

.width-100px{
    width: 100px;
}

.fluid {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    line-height: 1.3;
    font-size: 16px;
  }

  .fluid__image-container{
    flex: 0 0 30%;
    margin: 20px 0 20px 20px;
  }
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align:left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100px;
  }
  .submit-style-new{
   
      background-color: #4CAF50;
      width: 150px;
    
  }
  .ordered-display{
    display: flex;
    flex-direction: row;
  }
  
  img{
    width:  300px;
    height: 200px;
    object-fit: cover;

  }
  .step-description{
    width: 500px;
  }