.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
}

.align-centre1{
    justify-content: center;
}

.font-size-20{
    font-size: 20px;
}

.inside-wrapper{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.label{
    color: black;
    background-color: lightgray;
    font-size: 1.2rem;
}

.area1{
    margin-top: 20px;
}

.area2{
    margin-top: 20px;
}

.margin-left-right{
    margin-left: 10px;
    margin-right: 20px;
}

.head-label{
    font-size: 1.5rem;
    color: blue;
    background-color: lightgray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container{
    font-size: 1.5rem;
}

.width-500px{
    width: 500px;
}

.red-text{
    color: red;
}